// variables & functions
@import 'variables';
@import 'functions';

// base & layout
@import 'base';
@import "breakpoints";
@import 'grid';
@import 'subgrid-full-layout';

// colors
@import 'colors';

// components
@import 'components/buttons/button';

// utilities
@import 'utilities';

body {
   background: {
      color: #222;
   };
   
   color: whitesmoke;
}

